<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <style media="screen">
      tr, td, table{
        border: solid 1px black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          STT
        </td>
        <td>
          Tiêu đề
        </td>
        <td>
          Hình ảnh
        </td>
        <td>
          Quản lý
        </td>
      </tr>
      <tr>
        <td>
          1
        </td>
        <td>
          NodeJS
        </td>
        <td>
          <img src="/images/background/1.png" width="200px"/>
        </td>
        <td>
          <a href="#">Sửa</a>
          <br>
          <a href="#">Xoá</a>
        </td>
      </tr>
    </table>
    <a href="/add">Thêm sản phẩm</a>
  </body>
</html>
